<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<title>Preview Quote</title>
</head>
<frameset cols="100%" rows="50,*">
<frame src="/quotes/<%= @quote.id %>/send_or_back" />
<frame src="/quotes/<%= @quote.id %>/preview" />
</frameset>
<noframes>
<p>Your browser does not support frames. You can:</p>
<ul>
<li>go back and make changes or</li>
<li><a href="/quotes/<%= @quote.id %>/send_or_back">preview the quote here</a> or</li>
<li><a href="/quotes/<%= @quote.id %>/preview">send the quote now</a></li>
</ul>
</noframes>
</html>