<%= flash_notice %>
<p><%= link_to 'New quote', new_quote_path, class: 'pure-button pure-button-primary' %></p>

<% unless @quotes.empty? -%>
<table class="pure-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Recipient</th>
      <th>Sent</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'quote', collection: @quotes %>
  </tbody>
</table>
<% else -%>
<p>No quotes have been sent yet.</p>
<% end %>
