%h1 Profiles
%p
  = link_to 'Add profile', new_profile_path
%table
  %thead
    %tr
      %th Profile Name
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to h(profile.name), edit_profile_path(profile)
        %td.delete_button
          &nbsp;
          = link_to image_tag('delete.png', :alt=>'Delete'), profile, :confirm => 'Are you sure?', :method => :delete
