body {
  color: #333;
  background: #999;
  font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  padding-top: 16px;
}

p, td, textarea, th {
  font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#layout {
  width: 640px;
  padding: 20px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;

  -moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border: 1px solid #fff;
}

#logo {
  text-align: center;
  margin-bottom: 8px;
}

.nav {
  height: 43px; width: 207px;
  margin-left: auto; margin-right: auto;
  background-image: url(/images/quotes_items.png);
}
#the_items_nav { background-position: 0 -51px; }
#the__nav { background-position: 0 -102px; }
.nav li a {
  display: block;
  width: 103px;
  font-size: 13px;
  height: 43px;
  text-decoration: none;
  text-align: center;
  color: transparent;
}
/*
.nav li a:hover {
  background: #333;
  color: transparent;
}
*/
.nav li {
  float: left;
}

textarea {
  width: 630px;
  height: 200px;
  padding: 4px;
  border: 1px solid #bbb;
}

table { border-collapse: collapse; margin: 8px 0; width: 640px; }
td, th { font-size: 13px; padding: 8px 4px; margin: 0; line-height: 20px; }
th {
  font-weight: bold;
}
td {
  border-top: 1px solid #bbb;
}
textarea#profile_html {
  font-family: 'Anonymous Pro', 'Monaco', 'Courier', monospace;
  font-size: 13px;
  line-height: 16px;
  color: #f9ef90;
  background: #141414;
  border: 0;
  height: 400px;
  border: 1px solid #141414;
}

input[type=text] {
  font-size: 14px;
  border: 1px solid #bbb;
  width: 634px;
  padding: 2px;
}
label { font-weight: bold; font-size: 13px; }

form p {
  margin: 8px 0;
}

.item_list input {
  width: 32px;
}

#buttons {
  text-align: center;
}
.button img {
  vertical-align: bottom;
}