<h1>Change my password</h1>

<%= flash_notice %>

<div class="form">
	<fieldset>
	<% form_tag :action => "forgot_password_send" do %>
		<div>
			<label for="email">My email address is:</label><br />
			<%= text_field_tag :email, params[:email], :class => "short" %>
		</div>
		
		<%= submit_tag "Send me instructions" %>
	<% end %>
	</fieldset>
</div>
