<% if @current_profile.categories.none? %>
<p>
  <%= t('.no_categories') %>
</p>
<% else %>
<p><%= link_to 'New item', new_item_path, class: 'pure-button pure-button-primary' %></p>
<% end %>

<%= render partial: 'category', collection: @current_profile.categories %>
