body {
  color: #333;
  font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  padding-top: 16px;
}

body, p, td, textarea, th {
  font-family:"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-bottom: 12px;
}

h2, h3 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 12px;
  font-size: 16px;
  color: #000;
  background: #333;
  color: #fff;
  padding: 4px;
}
h3 {
  color: #000;
  background: #ccc;
  font-size: 14px;
}

#flash_notice {
	border: 1px solid #ca8902;
	background: #fee848;
	padding: 8px;
	margin: 8px;
	color: #333;
}

#layout {
  width: 640px;
  padding: 20px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
  margin-bottom: 8px;
}

.nav {
  height: 43px; width: 300px;
  margin-left: auto; margin-right: auto;
/*  background-image: url(/images/quotes_items.png);*/
}
#the_items_nav { background-position: 0 -51px; }
#the__nav { background-position: 0 -102px; }

.nav li {
  float: left;
}

textarea {
  width: 630px;
  height: 200px;
  padding: 4px;
  border: 1px solid #bbb;
}

table { border-collapse: collapse; margin: 8px 0; width: 640px; }

td, th {
  padding: 8px 4px;
  margin: 0;
  line-height: 20px;
}

th {
  font-weight: bold;
}

th.up_down {
  width: 32px;
}

td {
  border-top: 1px solid #bbb;
}

td.actions {
  text-align: right;
}

textarea#profile_html {
  font-family: 'Anonymous Pro', 'Monaco', 'Courier', monospace;
  font-size: 13px;
  line-height: 16px;
  color: #f9ef90;
  background: #141414;
  border: 0;
  height: 400px;
  border: 1px solid #141414;
}

input[type=text], input[type=password] {
  font-size: 14px;
  border: 1px solid #bbb;
  width: 634px;
  padding: 2px;
}
label { font-weight: bold; font-size: 13px; }

form p {
  margin: 8px 0;
}

input.qty {
  width: 32px;
}
input.x_name {
  width: 256px;
}
input.price {
  width: 64px;
}

#sessions_new input[type=text],
#sessions_new input[type=password] {
  width: 192px;
}

#buttons {
  text-align: center;
}
.button img {
  vertical-align: bottom;
}

#sign_out {
  font-size: 12px;
  text-align: right;
}

.button-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-danger {
  background: rgb(202, 60, 60);
}
