<%= flash_notice %>
<p><%= link_to 'New category', new_category_path, class: 'pure-button pure-button-primary' %></p>
<% if @current_profile.categories.empty? -%>
<p>No categories have been created yet.</p>
<% else -%>
<table>
  <thead>
    <tr>
      <th class="up_down">&nbsp;</th>
      <th class="up_down">&nbsp;</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>

    <%= render partial: 'category', collection: @current_profile.categories %>

  </tbody>
</table>
<% end -%>
